<!DOCTYPE html>
<html>
  <head>
    <title>DocsGPT 🦖 智能文档小助手</title>
    <link href="{{url_for('static',filename='dist/css/output.css')}}" rel="stylesheet">
      <link rel="favicon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon//site.webmanifest') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  </head>


  <body>



    <header class="bg-white p-2 flex justify-between items-center">
      <h1 class="text-lg font-medium">DocsGPT 🦖 智能文档小助手</h1>
        <div>
      Powered by <a href="https://icloudnative.io" class="text-blue-500 hover:text-blue-800 text-sm">云原生实验室</a>
            {% if not api_key_set %}
      <button class="text-sm text-yellow-500 hover:text-yellow-800" onclick="resetApiKey()">重置 Key</button>
        {% endif %}
            </div>
    </header>
    <div class="lg:flex ml-2 mr-2">
      <div class="lg:w-3/4 min-h-screen max-h-screen">
        <div class="w-full flex flex-col h-5/6">
          <div id="messages-container" style="overflow: auto;" class="sm:max-lg:mb-[12rem]">

            <div id="messages" class="w-full flex flex-col mt-2" >
              <div class="bg-indigo-500 text-white p-2 rounded-lg mb-2 self-start">
                <p class="text-sm">你好，请向我询问有关这个文档的任何问题</p>
              </div>
              <div class="bg-blue-500 text-white p-2 rounded-lg mb-2 self-end">
                <p class="text-sm">laf 是什么？</p>
              </div>
              <div class="bg-indigo-500 text-white p-2 rounded-lg mb-2 self-start">
                <p class="text-sm">laf 是云开发平台，可以快速的开发应用<br>
laf 是一个开源的 BaaS 开发平台（Backend as a Service)<br>
laf 是一个开箱即用的 Serverless 开发平台<br>
laf 是一个集「函数计算」、「数据库」、「对象存储」等于一身的一站式开发平台<br>
laf 可以是开源版的腾讯云开发、开源版的 Google Firebase<br>
简而言之，laf 是一个 serverless 框架，提供开箱即用的云函数，云数据库，对象存储等能力，是一个一站式开发平台，像写博客一样写代码！ </p>
              </div>

          </div>
        </div>

        <div class="fixed bottom-0 w-full mt-4 mb-2 lg:w-3/4">
        <form id="message-form" autocomplete="off" class="flex items-stretch">
          <input autocomplete="off" id="message-input" class="bg-white p-2 rounded-lg ml-2 text-sm w-full" type="text" placeholder="请输入你的问题...">
          <button id="button-submit" class="bg-blue-500 text-white p-2 rounded-lg ml-2 mr-2 text-sm sm:max-lg:p-5" type="submit">发送</button>
        </form>
        </div>


    </div>
        </div>
        <div class="lg:w-1/4 p-2 sm:max-lg:hidden">
          <p class="text-sm">这是一个使用 GPT-3、Faiss 和 <a href="https://github.com/hwchase17/langchain" class="text-blue-500 hover:text-blue-800">LangChain</a> 来回答项目文档相关问题的聊天机器人</p>
          <br>
          <p class="text-sm">源代码在 <a href="https://github.com/yangchuansheng/DocsGPT" class="text-blue-500 hover:text-blue-800">Github 仓库</a> 中</p><br>
          <p class="text-sm">目前使用 <a href="https://github.com/labring/laf" class="text-blue-500 hover:text-blue-800">laf</a> 文档，所以会回复 laf 相关的信息。如果你想使用不同的文档来训练它 - <a href="https://github.com/arc53/docsgpt/wiki/How-to-train-on-other-documentation" class="text-blue-500 hover:text-blue-800">请参考这篇指南</a></p><br>
          <p class="text-sm">如果您想在自己的服务器上运行 - <a href="https://github.com/yangchuansheng/DocsGPT#%E5%BF%AB%E9%80%9F%E5%BC%80%E5%A7%8B" class="text-blue-500 hover:text-blue-800"> 请参考这篇指南 </a></p><br>
          <p class="text-sm">如果你想免费体验 ChatGPT Plus，可以加入 <a href="https://t.me/fuck_you_chatgpt" class="text-blue-500 hover:text-blue-800">ChatGPT 用户体验群</a></p><br>
          <p class="text-sm"><a href="https://shop.terobox.com/?from=1069" class="text-blue-500 hover:text-blue-800">🛒 ChatGPT Plus 订阅账号购买</a></p><br>
            <label  class="block mb-2 text-sm font-medium text-gray-900">从 DocsHUB 中选择文档</label>
            <select id="select-docs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              <option selected value="default">选择文档</option>
              <option value="default">Default</option>
            </select>
        </div>
    </div>

  <div class="flex items-center justify-center h-full">

</div>

{% if not api_key_set %}
<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="modal">
  <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-900 opacity-75" />
    </div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
    <div class=" text-sm inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
       <form id="api-key-form">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <h2>在开始使用 DocsGPT 之前，需要提供一个 llm 的 API Key。目前只支持 OpenAI，后面会支持更多的选项。你可以在<a class="text-blue-500 hover:text-blue-800" href="https://platform.openai.com/account/api-keys">这里</a>找到 API Key</h2><br>
        <label>OpenAI API key:</label>

        <input id="api-key-input" type="password" class="w-full bg-gray-100 p-2 mt-2 mb-3" placeholder="Paste you Api Key here">

      </div>
      <div class="bg-gray-200 px-4 py-3 text-right">
        <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2">保存</button>

      </div>
            </form>
    </div>
  </div>
</div>
{% endif %}
      <script>
          function docsIndex() {
                // loads latest index from https://raw.githubusercontent.com/arc53/DocsHUB/main/combined.json
                // and stores it in localStorage
                fetch('https://d3dg1063dc54p9.cloudfront.net/combined.json')
                    .then(response => response.json())
                    .then(data => {
                        localStorage.setItem("docsIndex", JSON.stringify(data));
                        localStorage.setItem("docsIndexDate", Date.now());
                        generateOptions()
                    }

                )

            }
          function generateOptions(){
                docsIndex = localStorage.getItem('docsIndex')
                // create option on select with id select-docs
                var select = document.getElementById("select-docs");
                // convert docsIndex to json
                docsIndex = JSON.parse(docsIndex)
                // create option for each key in docsIndex
                for (var key in docsIndex) {
                    var option = document.createElement("option");
                    if (docsIndex[key].name == docsIndex[key].language) {
                        option.text = docsIndex[key].name + " " + docsIndex[key].version;
                        option.value = docsIndex[key].name + "/" + ".project" + "/" + docsIndex[key].version + "/{{ embeddings_choice }}/";
                        if (docsIndex[key].model == "{{ embeddings_choice }}") {
                            select.add(option);
                        }
                    }
                    else {
                        option.text = docsIndex[key].name + " " + docsIndex[key].version;
                        option.value = docsIndex[key].language + "/" + docsIndex[key].name + "/" + docsIndex[key].version + "/{{ embeddings_choice }}/";
                        if (docsIndex[key].model == "{{ embeddings_choice }}") {
                            select.add(option);
                        }
                    }
                }

          }
        {% if not api_key_set %}
        if (localStorage.getItem('apiKey') === null) {
            console.log("apiKey is not set")
            document.getElementById('modal').classList.toggle('hidden')
        }
        {% endif %}
        if (localStorage.getItem('docsIndex') === null) {
            console.log("docsIndex is not set")
            docsIndex()
        }
        else if (localStorage.getItem("docsIndexDate") < Date.now() - 900000) {
            console.log("docsIndex is older than 15 minutes")
            docsIndex()
        }

        generateOptions()

  </script>
    {% if not api_key_set %}
    <script src="{{url_for('static',filename='src/authapi.js')}}"></script>
    {% endif %}
  <script src="{{url_for('static',filename='src/chat.js')}}"></script>
  <script src="{{url_for('static',filename='src/choiceChange.js')}}"></script>

  </body>
</html>